/* color palette: #020413 #6A040F #9D0208 #D00000 #F48C06 #FFBA08 #FFFFFF */

.table {
  table-layout: fixed;
}

td {
  word-wrap: break-word;
}

thead {
  text-align: center;
}

.pagination {
  padding-top: 20px;
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination__link--active > a {
  background-color: #F48C06 ;
  color: #FFFFFF !important;
  border-radius: 50%;
}

.pagination-page > a:hover {
  text-decoration: underline !important;
}

.pagination > li > a {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > li > a:hover {
  color: #F48C06;
}

.pagination > li > a, .pagination > li > span {
  color: #020413;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset
}

.row span {
  padding-left: 5px;
}

.btn {
  margin-left: 20px;
}

.button {
  margin: 8px;
}

.loffset {
  margin-left: 30px;
}