# Configuration file for Receptor application

# Postgresql database settings (TO CHANGE)
echo "export DB_USER='username'" >> receptor/.env #your username on the server
echo "export DB_PASS='password'" >> receptor/.env #your password on the server

# Apache2 httpd settings
export ENVVARS_PATH=/path/to/envvars #apache2 path on mac
export HTTPD_PATH=/path/to/httpd #path to your httpd installation
cp httpd.conf $HTTPD_PATH

echo "export ADMIN_EMAIL='you@example.com'" >> $ENVVARS_PATH
echo "export RECEPTOR_DIR=/path/to/new-Receptor/" >> $ENVVARS_PATH #receptor dir path
echo "export PYTHON_PATH=/path/to/python/virtual/env/site-packages" >> $ENVVARS_PATH #conda virtual environment sit-packages path

# Django and postgresql database settings (DO NOT CHANGE)
echo "export DJANGO_SECRET_KEY='tflu+c7a(x*kmdpyyx7x)fp*i#5$b3+mp79i$yfu6)uge1=0a3'" >> receptor/.env
echo "export DJANGO_DEBUG='False'" >> receptor/.env
echo "export DB_NAME='receptor'" >> receptor/.env
