appnope==0.1.2
asgiref==3.4.1
backcall==0.2.0
cffi==1.14.6
coverage==4.5.4
cryptography==3.4.7
decorator==5.0.9
dj-static==0.0.6
Django==3.1.12
django-cors-headers==3.7.0
django-filter==2.4.0
django-fontawesome-5==1.0.18
django-rest-knox==4.1.0
djangorestframework==3.12.2
ipython==7.26.0
ipython-genutils==0.2.0
jedi==0.18.0
Markdown==3.3.4
matplotlib-inline==0.1.2
mod-wsgi==4.6.8
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
postgres==3.0.0
prompt-toolkit==3.0.19
psycopg2-binary==2.9.1
psycopg2-pool==1.1
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.9.0
python-decouple==3.4
python-dotenv==0.17.1
pytz==2019.1
six==1.15.0
sqlparse==0.3.0
static3==0.7.0
traitlets==5.0.5
wcwidth==0.2.5
