{% extends "base.html" %}

{% block content %}
<h2>Oligo Details for '{{ oligo.name }}'</h2>
<h3><br />General</h3>
<p>User: {{ oligo.user }}</p>
<p>Created: {{ oligo.create_date|date:"F j, Y" }}</p>
<p>Modified: {{ oligo.mod_date|date:"F j, Y" }}</p>
<p>Synthesized at: {{ oligo.company }}</p>
<p>Concentration: {{oligo.concentration }}</p>
<p>Grade: {{oligo.grade }}</p>
<p><u>Usages</u></p>
<ul>
{% for use in oligo.usages.all %}
<li>{{ use.usage }}</li>
{% endfor %}
</ul>
<h3><br />Details</h3>
<p class="multi_line">{{ oligo.details }}</p>
<h3><br />Sequence information</h3>
<p>Sequence: {{ oligo.sequence }}</p>
<p>Length: {{ oligo.length }}</p>
<h3><br />Hybridization information</h3>
<p>Organism: {{ oligo.organism }}</p>
<p>Gene locus: {{ oligo.gene_locus }}</p>
<p>Primer position: {{ oligo.get_primer_position_display }}</p>
<p>Primer partner: {{ oligo.primer_partner }}</p>
{% if canedit %}
	<br /><p><a href="/oligos/edit/{{oligo.id}}/">Edit</a></p>
{% endif %}
{% if candelete %}
	<br /><p><a href="/oligos/delete/{{oligo.id}}/">Delete</a></p>
{% endif %}
	<br /><p><a href="/oligos/edit/0/?clone={{oligo.id}}">Copy to new oligo</a></p>
{% endblock content %}
