{% extends "base.html" %}

{% block content %}
<h2>Oligos</h2>
{% if oligo_list %}
    <table class="datatable" cellspacing="5">
        <tr>
	    <th style="width:100px">Name</th>
	    <th style="width:70px">User</th>
	    <th style="width:180px">Description</th>
	    <th width="50%" style="width:150px">Sequence</th>
	</tr>
    {% for oligo in oligo_list %}
	<tr>
            <td><a href="{% url 'oligos:detail' oligo_id %}">{{ oligo.name }}"</a></td>
            <td>{{ oligo.user }}</td>
            <td>{{ oligo.description }}</td>
            <td>{{ oligo.sequence }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No oligos in database.</p>
{% endif %}

{% endblock content %}
