/* color palette: #020413 #6A040F #9D0208 #D00000 #F48C06 #FFBA08 #FFFFFF */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  min-height: calc(100vh - 60px);
  background-color: #020413;
}

.header {
  height: 95px;
  padding: 25px 25px 0px 25px;
}

.app-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  text-align: left;
}

.vertical-line {
  border-left: 1px solid #FFFFFF;
}

.top-menu {
  text-align: right;
  padding-top: 20px;
  min-width: 200px;
}

.top-menu ul{
  list-style-type: none;
}

.top-menu span{
  color: #FFFFFF;
  text-decoration: none;
}

.top-menu span:hover {
  text-decoration: underline;
  color: #FFBA08;
}

.top-menu-text {
  padding-right: 10px;
  padding-left: 10px;
  display: inline;
}

.body {
  display: grid;
  grid-template-columns: 0.1fr 5fr;
}

.body-main {
  color: #020413;
  background-color: #FFFFFF;
  border-radius: 25px 0px 0px 0px;
  padding: 35px 30px 30px 30px;
  min-width: calc(100% - 160px);
}
